body {
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #323232;
	background: #849d8f;
}

h1 {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 35px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

h2 {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 35px;
	line-height: 35px;
	font-weight: bold;
	color: #ffffff;
}

h3 {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

h4 {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 24px;
	line-height: 22px;
	font-weight: 500;
	color: #343434;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	margin: 0 2.3%;
}

img {
	max-width: 100%;
	height: auto;
}


/*HEADER---------------------*/

.main-header__logo {
	float: left;
}

.main-header__link {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/*
.main-header__link::after {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
}
*/

.main-navigation__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}


/*CATALOG-----------------------*/

.catalog__list {
	display: none;
}

.user-controls {
	float: right;
}


/*SEARCH------------------------*/

.user-controls__search {
	display: inline-block;
	vertical-align: top;
}

.search__popup {
	display: none;
}


/*LOGIN----------------------------*/

.user-controls__login {
	display: inline-block;
	vertical-align: top;
}

.login__popup {
	display: none;
}


/*BASKET------------------------------*/

.user-controls__basket {
	display: inline-block;
	vertical-align: top;
}

.basket__popup {
	display: none;
}


/*TIMETABLE-----------------------------*/

.timetable {
	clear: both;
	float: right;
	width: 175px;
	color: #ffffff;
	font-size: 14px;
	text-align: right;
}

.timetable__tel {
	font-size: 22px;
	font-weight: 900;
}


/*ICE-SLIDER---------------------------*/

.ice-slider {
	display: none;
}

.ice-slider__slides {
	display: none;
}


/*PROMO*/

.event {
	width: 48.9%;
	min-width: 420px;
}

.promo__event-1 {
	float: left;
}

.promo__event-2 {
	float: right;
}

.event__content {
	font-size: 18px;
	color: #ffffff;
}


/*HIT----------------==============*/

.bestcellers {
	font-size: 0;
}

.bestcellers__hit {
	display: inline-block;
	vertical-align: top;
	width: 23.35%;
	margin-right: 2.2%;
	font-size: 16px;
	text-align: center;
}

.bestcellers__hit:nth-child(4n) {
	margin-right: 0;
}

.product__price-title {
	font-weight: bold;
	font-size: 30px;
	color: #ffffff;
}
/*ЛЁНЯ ПОМЕНЯЙ ЗНАК РУБЛЯ!!!-------------------------*/
/*И ТЕНЬ СДЕЛАЙ*/
.product__big-figure {
	font-size: 45px;
}

.product__link {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	text-decoration: none;
	text-align: center;
	cursor: default;
		
}

.product__btn {
	display: none
}


/*ADVANTAGES-------------------------------*/

.advantages__left-col {
	width: 48.9%;
	float: left;
}

.advantages__right-col {
	width: 48.9%;
	float: right;
}


/*BLOG-----------------------------------------*/

.blog {
	width: 48.9%;
	float: left;
}

.blog__title {
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	color: #5a5a5a;
}

.blog__topic {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #353535;
}


/*SUBSCRIBE------------------------------------*/

.subscribe {
	width: 48.9%;
	float: right;
}

.subscribe__content {
	color: #5a5a5a;
}

/*MAP----------------*/

.contacts {
	color: #343434; 
	font-size: 14px;
	line-height: 20px;
}

.contacts__adress {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}

.contacts__tel {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

/*FOOTER*/

.main-footer__social {
	width: 23.35%;
	float: left;
}

.main-footer__regulations {
	width: 48.9%;
	float: left;
}

.regulations__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.regulations__link {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 22px;
	color: #ffffff;
/*	text-align: center;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-decoration: none;
/*	text-align: center;*/
}

.regulations__link--love {
	font-weight: bold;
}

.regulations__left-col {
	float: left;
}

.regulations__right-col {
	float: right;
}

.main-footer__copyright {
	width: 23.35%;
	float: right;
}

.copyright {
	font-size: 12px;
	color: #ffffff;
}

.copyright__link {
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	color: #ffffff;
/*	text-align: center;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-decoration: none;
}


/*CATALOG____PAGE-----------------*/

.breadcrumbs__element {
	display: inline-block;
}


/*PRODUCT-CATALOG-----------------------*/

.product-catalog__list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.product-catalog__item {
	display: inline-block;
	vertical-align: top;
	width: 23.35%;
	margin-right: 2.2%;
	font-size: 16px;
}

.product-catalog__item:nth-child(4n) {
	margin-right: 0;
}

.pagination__list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.pagination__item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}


/*POPUP FEEDBACK--------------------------*/

.feedback-popup {
	display: none
}